# Исключение виртуального окружения
venv/
env/

# Исключение файлов, связанных с Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Исключение баз данных
*.db
*.sqlite3

# Исключение временных файлов редакторов и систем
*.swp
*~
.DS_Store

# Исключение файлов и папок для IDE и текстовых редакторов
.vscode/
.idea/


# Исключение логов
*.log

# Исключение файлов конфигурации системы и окружения
.env

#Исключение примеров
*example.pdf